* {
    margin: 0px;
    padding: 0px;
}


.wrapper {
    width: 100%;
    height: 750px;
    background-color: black;
}

.headline {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
}

.map {
    width: 900px;
    height: 600px;
    border: 2px solid white;
    margin-top: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
    background: url('../photo/2004px-Blank_map_of_Europe_cropped.svg.png');
    background-size: 900px 600px;
}

.ball {
    background-color: rgb(160, 25, 83);
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

.name-hamburg {
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    margin-left: 424px;
    margin-top: 295px;
    text-shadow: 3px 5px 6px black;
}

.ball-hamburg {
    margin-top: 300px;
    margin-left: 385px;
    position: absolute;
}

.ball-pulse-hamburg-1 {
    border: 1px solid rgb(160, 25, 83);
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 20px;
    width: 20px;
    margin-top: -5px;
    margin-left: -5px;
    z-index: 2;
    border-radius: 50%;
    animation-duration: 1.0s;
    animation-name: ball-pulse-hamburg-1;
    animation-iteration-count: infinite;
}

@keyframes ball-pulse-hamburg-1 {
    from {
        opacity: 1;
        transform: scale(0.9, 0.9);
    }

    to {
        opacity: 0;
        transform: scale(1.3, 1.3);
    }
}

.ball-pulse-hamburg-2 {
    border: 1px solid rgb(160, 25, 83);
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 20px;
    width: 20px;
    margin-top: -22px;
    margin-left: -5px;
    border-radius: 50%;
    animation-duration: 1.0s;
    animation-name: ball-pulse-hamburg-2;
    animation-iteration-count: infinite;
}

@keyframes ball-pulse-hamburg-2 {
    from {
        opacity: 1;
        transform: scale(0.9, 0.9);
    }

    to {
        opacity: 0;
        transform: scale(2.3, 2.3);
    }
}

.card-hamburg {
    background-color: rgb(46, 45, 45);
    width: 200px;
    height: 100px;
    margin-top: -130px;
    margin-left: -17px;
    position: absolute;
    display: block;
    opacity: 0;
    visibility: hidden;
    font-family: 'Poppins', sans-serif;
}

.card-hamburg:before {
    content: ' '; 
    height: 0;
    top: 100%;
    position: absolute;
    border-top: 10px solid transparent;
    border-right: 20px solid rgb(46, 45, 45);
    border-bottom: 10px solid transparent;
    display: inline-block;
    transform: rotate(270deg);
    margin-left: -87px;
}

.card-hamburg .headline {
    color: white;
    text-align: left;
    font-size: 14px;
    margin-left: 10px;
    margin-top: -30px;
    font-weight: bold;
}

.card-hamburg .description{
    color: white;
    text-align: left;
    font-size: 14px;
    margin-left: 10px;
    font-style: italic;
}

.button {
    width: 180px;
    height: 40px;
    background-color: rgb(181, 46, 91);
    border: none;
    color: white;
    margin-top: 1px;
}

.button:hover {
    background-color: pink;
}

.button:active {
    background-color: gray;
}

.ball-hamburg:hover .ball-pulse-hamburg-1 {
    animation-play-state: paused;
}

.ball-hamburg:hover .ball-pulse-hamburg-2 {
    animation-play-state: paused;
}

.ball-hamburg:hover .card-hamburg {
    opacity: 1;
    visibility: visible;
}

.name-kraków {
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    margin-left: 585px;
    margin-top: 328px;
    text-shadow: 3px 5px 6px black;
}

.ball-kraków {
    margin-top: 335px;
    margin-left: 545px;
    font-family: 'Poppins', sans-serif;
    position: absolute;
}

.ball-pulse-kraków-1 {
    border: 1px solid rgb(160, 25, 83);
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 20px;
    width: 20px;
    z-index: 2;
    margin-top: -5px;
    margin-left: -5px;
    border-radius: 50%;
    animation-duration: 1.0s;
    animation-name: ball-pulse-kraków-1;
    animation-iteration-count: infinite;
}

@keyframes ball-pulse-kraków-1 {
    from {
        opacity: 1;
        transform: scale(0.9, 0.9);
    }

    to {
        opacity: 0;
        transform: scale(1.3, 1.3);
    }
}

.ball-pulse-kraków-2 {
    border: 1px solid rgb(160, 25, 83);
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 20px;
    width: 20px;
    margin-top: -22px;
    margin-left: -5px;
    border-radius: 50%;
    animation-duration: 1.0s;
    animation-name: ball-pulse-kraków-2;
    animation-iteration-count: infinite;
}

@keyframes ball-pulse-kraków-2 {
    from {
        opacity: 1;
        transform: scale(0.9, 0.9);
    }

    to {
        opacity: 0;
        transform: scale(2.3, 2.3);
    }
}

.card-kraków {
    background-color: rgb(46, 45, 45);
    width: 200px;
    height: 100px;
    margin-top: -130px;
    margin-left: -17px;
    position: absolute;
    display: block;
    opacity: 0;
    visibility: hidden;
}

.card-kraków:before {
    content: ' '; 
    height: 0;
    top: 100%;
    position: absolute;
    border-top: 10px solid transparent;
    border-right: 20px solid rgb(46, 45, 45);
    border-bottom: 10px solid transparent;
    display: inline-block;
    transform: rotate(270deg);
    margin-left: -87px;
}

.card-kraków .headline {
    color: white;
    text-align: left;
    font-size: 14px;
    margin-left: 10px;
    margin-top: -30px;
    font-weight: bold;
}

.card-kraków .description{
    color: white;
    text-align: left;
    font-size: 14px;
    margin-left: 10px;
    font-style: italic;
}

.ball-kraków:hover .ball-pulse-kraków-1 {
    animation-play-state: paused;
}

.ball-kraków:hover .ball-pulse-kraków-2 {
    animation-play-state: paused;
}

.ball-kraków:hover .card-kraków {
    opacity: 1;
    visibility: visible;
}

.name-turin {
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    margin-left: 385px;
    margin-top: 430px;
    text-shadow: 3px 5px 6px black;
}

.ball-turin {
    margin-top: 437px;
    margin-left: 345px;
    font-family: 'Poppins', sans-serif;
    position: absolute;
}

.ball-pulse-turin-1 {
    border: 1px solid rgb(160, 25, 83);
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 20px;
    width: 20px;
    z-index: 2;
    margin-top: -5px;
    margin-left: -5px;
    border-radius: 50%;
    animation-duration: 1.0s;
    animation-name: ball-pulse-turin-1;
    animation-iteration-count: infinite;
}

@keyframes ball-pulse-turin-1 {
    from {
        opacity: 1;
        transform: scale(0.9, 0.9);
    }

    to {
        opacity: 0;
        transform: scale(1.3, 1.3);
    }
}

.ball-pulse-turin-2 {
    border: 1px solid rgb(160, 25, 83);
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 20px;
    width: 20px;
    margin-top: -22px;
    margin-left: -5px;
    border-radius: 50%;
    animation-duration: 1.0s;
    animation-name: ball-pulse-turin-2;
    animation-iteration-count: infinite;
}

@keyframes ball-pulse-turin-2 {
    from {
        opacity: 1;
        transform: scale(0.9, 0.9);
    }

    to {
        opacity: 0;
        transform: scale(2.3, 2.3);
    }
}

.card-turin {
    background-color: rgb(46, 45, 45);
    width: 200px;
    height: 100px;
    margin-top: -130px;
    margin-left: -17px;
    position: absolute;
    display: block;
    opacity: 0;
    visibility: hidden;
}

.card-turin:before {
    content: ' '; 
    height: 0;
    top: 100%;
    position: absolute;
    border-top: 10px solid transparent;
    border-right: 20px solid rgb(46, 45, 45);
    border-bottom: 10px solid transparent;
    display: inline-block;
    transform: rotate(270deg);
    margin-left: -87px;
}

.card-turin .headline {
    color: white;
    text-align: left;
    font-size: 14px;
    margin-left: 10px;
    margin-top: -30px;
    font-weight: bold;
}

.card-turin .description{
    color: white;
    text-align: left;
    font-size: 14px;
    margin-left: 10px;
    font-style: italic;
}

.ball-turin:hover .ball-pulse-turin-1 {
    animation-play-state: paused;
}

.ball-turin:hover .ball-pulse-turin-2 {
    animation-play-state: paused;
}

.ball-turin:hover .card-turin {
    opacity: 1;
    visibility: visible;
}

.name-madrid {
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    margin-left: 160px;
    margin-top: 497px;
    text-shadow: 3px 5px 6px black;
}

.ball-madrid {
    margin-top: 503px;
    margin-left: 120px;
    font-family: 'Poppins', sans-serif;
    position: absolute;
}

.ball-pulse-madrid-1 {
    border: 1px solid rgb(160, 25, 83);
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 20px;
    width: 20px;
    z-index: 2;
    margin-top: -5px;
    margin-left: -5px;
    border-radius: 50%;
    animation-duration: 1.0s;
    animation-name: ball-pulse-madrid-1;
    animation-iteration-count: infinite;
}

@keyframes ball-pulse-madrid-1 {
    from {
        opacity: 1;
        transform: scale(0.9, 0.9);
    }

    to {
        opacity: 0;
        transform: scale(1.3, 1.3);
    }
}

.ball-pulse-madrid-2 {
    border: 1px solid rgb(160, 25, 83);
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 20px;
    width: 20px;
    margin-top: -22px;
    margin-left: -5px;
    border-radius: 50%;
    animation-duration: 1.0s;
    animation-name: ball-pulse-madrid-2;
    animation-iteration-count: infinite;
}

@keyframes ball-pulse-madrid-2 {
    from {
        opacity: 1;
        transform: scale(0.9, 0.9);
    }

    to {
        opacity: 0;
        transform: scale(2.3, 2.3);
    }
}

.card-madrid {
    background-color: rgb(46, 45, 45);
    width: 200px;
    height: 100px;
    margin-top: -130px;
    margin-left: -17px;
    position: absolute;
    display: block;
    opacity: 0;
    visibility: hidden;
}

.card-madrid:before {
    content: ' '; 
    height: 0;
    top: 100%;
    position: absolute;
    border-top: 10px solid transparent;
    border-right: 20px solid rgb(46, 45, 45);
    border-bottom: 10px solid transparent;
    display: inline-block;
    transform: rotate(270deg);
    margin-left: -87px;
}

.card-madrid .headline {
    color: white;
    text-align: left;
    font-size: 14px;
    margin-left: 10px;
    margin-top: -30px;
    font-weight: bold;
}

.card-madrid .description{
    color: white;
    text-align: left;
    font-size: 14px;
    margin-left: 10px;
    font-style: italic;
}

.ball-madrid:hover .ball-pulse-madrid-1 {
    animation-play-state: paused;
}

.ball-madrid:hover .ball-pulse-madrid-2 {
    animation-play-state: paused;
}

.ball-madrid:hover .card-madrid {
    opacity: 1;
    visibility: visible;
}